[color]
diff = auto
status = auto
branch = auto
ui = auto
interactive = auto
[interactive]
diffFilter = delta --color-only
[user]
# name = zetlen
email = jzetlen@adobe.com
signingkey = 6776B54894A43E99
[push]
default = simple
[core]
excludesfile = /Users/jzetlen/.gitignore_global
autocrlf = input
editor = vim
pager = delta
[delta]
line-numbers = true
[difftool "Kaleidoscope"]
cmd = ksdiff --partial-changeset --relative-path \"$MERGED\" -- \"$LOCAL\" \"$REMOTE\"
[diff]
tool = Kaleidoscope
[difftool]
prompt = false
[mergetool "Kaleidoscope"]
keepBackup = false
cmd = ksdiff --merge --output \"$MERGED\" --base \"$BASE\" -- \"$LOCAL\" --snapshot \"$REMOTE\" --snapshot
trustexitcode = true
[mergetool]
keepBackup = false
prompt = false
[merge]
tool = Kaleidoscope
conflictstyle = diff3
[alias]
s = status
a = !git add . && git status
au = !git add -u . && git status
aa = !git add . && git add -u . && git status
ap = add -p
c = commit
cm = commit -m
ca = commit --amend # careful
ac = !git add . && git commit
acm = !git add . && git commit -m
l = log --graph --all --pretty=format:'%C(yellow)%h%C(cyan)%d%Creset %s %C(white)- %an, %ar%Creset'
ll = log --stat --abbrev-commit
d = diff 
dh = diff head
dl = diff head^1 head
dc = diff --cached 
dt = difftool --dir-diff
master = checkout master
shove = push --follow-tags
backone = reset --soft HEAD^
nb = checkout -b
pr = pull --rebase
nevermind = checkout -f
alias = !git config --list | grep 'alias\\.' | sed 's/alias\\.\\([^=]*\\)=\\(.*\\)/\\1\\\t => \\2/' | sort
co = checkout
slt = !git log --date=short --format='%an %Cgreen%ad %Creset%s %b' $(git describe --tags --abbrev=0)..HEAD
dslt = !git log --stat --abbrev-commit -p $(git describe --tags --abbrev=0)..HEAD
zip = archive HEAD --format zip -o
ia = merge-base --is-ancestor
ds = describe --tags --always
pn = push -u origin
addfork = "!f(){ echo $(git remote get-url origin) $1 | sed -Ee 's,github.com([/:])[^/]+(.*) (.*),github.com\\1\\3\\2,' | xargs git remote add $1; git fetch $1; }; f"
inplay = "!git branch -vv --sort=-committerdate --format='%(align:20)%(color:green)%(committerdate:relative)%(color:reset)%(end)%(align:'$(($(tput cols) - 30))')%(color:yellow)%(refname:short)%(color:reset)%(color:blue)[%(upstream:trackshort)]%(color:reset)%(end) %(align:20,right)%(color:white)%(authorname)%(color:reset)%(end)'"
nohooks = config --local core.hookspath ~/.dotfiles/lib/disabled-git-hooks
rrbi = "!f(){ git checkout $1 && git pull && git checkout - && git rebase -i $1; }; f"

[filter "media"]
required = true
clean = git media clean %f
smudge = git media smudge %f
[credential]
helper = osxkeychain
[filter "utf8bom"]
clean = utf8bomcat
smudge = utf8bomcat
[filter "hawser"]
clean = git hawser clean %f
smudge = git hawser smudge %f
required = true
[filter "lfs"]
clean = git lfs clean %f
smudge = git lfs smudge %f
required = true
[rerere]
enabled = true
[merge "npm-merge-driver"]
name = automatically merge npm lockfiles
driver = npx npm-merge-driver merge %A %O %B %P
[commit]
gpgsign = true
[gpg]
program = gpg
