[tools]
usage = "latest"

bitwarden = "latest"
"cargo-binstall" = "latest"
chezmoi = "latest"
eza = "latest"
fd = "latest"
gh = "latest"
gum = "latest"
starship = "latest"
"tree-sitter" = "latest"
uv = "latest"
vim = "latest"
yq = "latest"
zellij = "latest"

"go:github.com/theimpostor/osc" = "latest"

"npm:corepack" = "latest"

"cargo:pumas" = "latest"
"cargo:sheldon" = "latest"

"pipx:rexi" = "latest"
